* {
    color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

body {
    background-color: #303030;
}

h1 {
    font-size: 2rem;
	font-weight: normal;
}

img.logo {
    width: 5.2rem;
}

nav a {
    font-size: .9rem;
    text-align: center;
}

a:link, a:active, a:visited, a:hover {
    text-decoration: none;
}

a:hover, a.current {
    color: #e8e7e7;
}

p {
    line-height: 1.4rem;
}

span.sep {
    display: block;
    line-height: .3;
}

span.txt-large {
    font-size: 1.3rem;
}

span.txt-normal {
	font-size: 1.1rem;
}

span.txt-small {
    font-size: .9rem;
}
span.txt-tiny {
    font-size: .7rem;
}

.div-flag {
	width: 60%;
}

img.flag {
	cursor: pointer;
    height: 3.5rem;
}

img#result {
    height: 9rem;
    width: 15rem;
}

input.percent {
    background-color: #3f3f3f;
    color:  #cccccc;
    box-shadow: none;
    border: none;
    text-align: right;
    border-radius: 0;
    min-width: 4rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cccccc;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #cccccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #cccccc;
}

.to-anchor {
	-webkit-appearance: none;
    font-size: .8rem;
    background-color: #00000000;
    border: none;
    cursor: pointer;
}

@-webkit-keyframes blink {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes blink {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes blink {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes blink {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}

img.flag.blink {
    -webkit-animation: blink normal 400ms infinite ease-in-out; /* Webkit */
    -moz-animation: blink normal 400ms infinite ease-in-out;    /* Firefox */
    -ms-animation: blink normal 400ms infinite ease-in-out;     /* IE */
    animation: blink normal 400ms infinite ease-in-out;         /* Opera and CSS3 */
}

@media(min-width: 576px) {
    img.flag {
        height: 7.5rem;
    }
    img#result {
         height: 18rem;
         width: 30rem;
     }
    nav a {
        text-align: left;
    }
}

@media (min-width: 768px) {
    img.flag {
        width: 100%;
        height: auto;
    }
    img#result {
         height: auto;
         width: auto;
     }
    .div-flag {
        width: 10%;
    }
    input.percent {
        font-size: .65rem;
    }
}

@media (min-width: 992px) {
	.container{
		width: 75% !important;
	}
}